// Fonts
$mainFont : 'Raleway', sans-serif;

//Break Points
$phone : 480px;
$tablet : 768px;
$desktop : 1000px;

// Colors
$primary : #33c3f0;
$secondary : #741d51;
$alternative : #e44e52;
$gray : #f2f2f2;
$white : #fff;