@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}

*,
*::after,
*::before {
    @include box-sizing(inherit);
}


body {
    font-family: $mainFont;
}

.header {
    display: flex;
    justify-content: space-between;
}

