html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.cart-content {
  position: relative;
}

.cart-content:hover .content {
  display: block;
  position: absolute;
  right: 0;
  padding: 1rem;
  max-width: 400px;
}

.cart-content:hover .content .button {
  background-color: #741d51;
  padding: 0.5rem 1rem;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: url("img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-content {
  color: #fff;
}

.hero .hero-content h2 {
  font-size: 2.6rem;
  font-weight: 400;
}

.hero .hero-content form {
  position: relative;
}

@media (min-width: 768px) {
  .hero .hero-content form {
    width: 40%;
  }
}

.hero .hero-content form input[type="text"] {
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem;
}

.hero .hero-content form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  background-image: url("img/search.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.bar {
  min-height: 5rem;
  background: #741d51;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#741d51), to(#e44e52));
  background: linear-gradient(to right, #741d51 0%, #e44e52 100%);
}

.bar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 0;
}

@media (min-width: 1000px) {
  .bar .icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .bar .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}

.bar .icon.icon1 {
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  background-size: 2.4rem;
  background-image: url(img/icon1.png);
}

.bar .icon.icon2 {
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  background-size: 2.4rem;
  background-image: url(img/icon2.png);
}

.bar .icon.icon3 {
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  background-size: 2.4rem;
  background-image: url(img/icon3.png);
}
/*# sourceMappingURL=style.css.map */